    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
    }
    
    $maincolor: #3D92BE;
    $backcolor: #3C3C3C;
    $decorcolor: white;
    $font: 'Roboto';
    $animation: left 300ms ease-in-out 2s;
    @mixin shadow {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    }
    
    @mixin leftText {
        width: 400px;
        height: 250px;
        background-color: $maincolor;
        position: absolute;
        left: 15%;
        line-height: 30px;
        text-align: right;
        padding-right: 10px;
    }
    
    @mixin rightText {
        width: 400px;
        height: 250px;
        background-color: $maincolor;
        position: absolute;
        right: 15%;
        line-height: 30px;
        text-align: left;
        padding-left: 10px;
    }
    
    @mixin circle {
        content: '';
        position: absolute;
        top: 80%;
        Border-radius: 50%;
        Width: 30px;
        height: 30px;
        background-color: white;
        text-align: center;
    }
    
    @mixin triangleRight {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 12.5px solid transparent;
        border-left: 25px solid $maincolor;
        border-bottom: 12.5px solid transparent;
        top: 82%;
    }
    
    @mixin triangleLeft {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 12.5px solid transparent;
        border-right: 25px solid $maincolor;
        border-bottom: 12.5px solid transparent;
        top: 82%;
    }
    
    @mixin blocText {
        position: relative;
        background-color: $maincolor;
        height: auto;
        line-height: 25px;
        padding: 25px;
    }
    
    header {
        margin: 0px;
        width: 100%;
        background-color: $maincolor;
        height: 300px;
        text-align: center;
        h1 {
            margin: 0 auto;
            height: 300px;
            line-height: 300px;
        }
    }
    
    body {
        margin: 0;
        background-color: $backcolor;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 150px;
        font-family: $font;
    }
    
    section {
        position: relative;
        .ligneBlanche {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 6px;
            height: 100%;
            background-color: $decorcolor;
        }
    }
    
    .wrapper {
        position: relative;
        margin: 10% auto;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        grid-auto-rows: minmax(100px, auto);
    }
    
    .one {
        grid-column: 1;
        grid-row: 1;
        @include blocText();
        text-align: right;
        @include shadow();
        transition: $animation;
    }
    
    .two {
        grid-column: 2;
        grid-row: 2;
        @include blocText();
        text-align: left;
        @include shadow();
    }
    
    .three {
        grid-column: 1;
        grid-row: 3;
        @include blocText();
        text-align: right;
        @include shadow();
    }
    
    .four {
        grid-column: 2;
        grid-row: 4;
        @include blocText();
        text-align: left;
        @include shadow();
    }
    
    .five {
        grid-column: 1;
        grid-row: 5;
        @include blocText();
        text-align: right;
        @include shadow();
    }
    
    .six {
        grid-column: 2;
        grid-row: 6;
        @include blocText();
        text-align: left;
        @include shadow();
    }
    
    .seven {
        grid-column: 1;
        grid-row: 7;
        @include blocText();
        text-align: right;
        @include shadow();
    }
    
    .eight {
        grid-column: 2;
        grid-row: 8;
        @include blocText();
        text-align: left;
        @include shadow();
    }
    
    .nine {
        grid-column: 1;
        grid-row: 9;
        @include blocText();
        text-align: right;
        @include shadow();
    }
    
    .ten {
        grid-column: 2;
        grid-row: 10;
        @include blocText();
        text-align: left;
        @include shadow();
    }
    /* DECORATION */
    
    .one::before,
    .three::before,
    .five::before,
    .seven::before,
    .nine::before,
    {
        @include triangleRight;
        left: 100%;
    }
    
    .one::after,
    .three::after,
    .five::after,
    .seven::after,
    .nine::after,
    {
        @include circle();
        left: calc(100% + 50px);
        transform: translate(-50%);
    }
    
    .two::before,
    .four::before,
    .six::before,
    .eight::before,
    .ten::before {
        @include circle();
        right: calc(100% + 50px);
        transform: translate(+50%);
    }
    
    .two::after,
    .four::after,
    .six::after,
    .eight::after,
    .ten::after,
    {
        @include triangleLeft;
        right: 100%;
    }