@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

header {
  margin: 0px;
  width: 100%;
  background-color: #3D92BE;
  height: 300px;
  text-align: center; }
  header h1 {
    margin: 0 auto;
    height: 300px;
    line-height: 300px; }

body {
  margin: 0;
  background-color: #3C3C3C;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 150px;
  font-family: "Roboto"; }

section {
  position: relative; }
  section .ligneBlanche {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 6px;
    height: 100%;
    background-color: white; }

.wrapper {
  position: relative;
  margin: 10% auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
  grid-auto-rows: minmax(100px, auto); }

.one {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: right;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: left 300ms ease-in-out 2s; }

.two {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.three {
  grid-column: 1;
  grid-row: 3;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: right;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.four {
  grid-column: 2;
  grid-row: 4;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.five {
  grid-column: 1;
  grid-row: 5;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: right;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.six {
  grid-column: 2;
  grid-row: 6;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.seven {
  grid-column: 1;
  grid-row: 7;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: right;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.eight {
  grid-column: 2;
  grid-row: 8;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.nine {
  grid-column: 1;
  grid-row: 9;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: right;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.ten {
  grid-column: 2;
  grid-row: 10;
  position: relative;
  background-color: #3D92BE;
  height: auto;
  line-height: 25px;
  padding: 25px;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

/* DECORATION */
.one::before,
.three::before,
.five::before,
.seven::before,
.nine::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-left: 25px solid #3D92BE;
  border-bottom: 12.5px solid transparent;
  top: 82%;
  left: 100%; }

.one::after,
.three::after,
.five::after,
.seven::after,
.nine::after {
  content: '';
  position: absolute;
  top: 80%;
  Border-radius: 50%;
  Width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  left: calc(100% + 50px);
  transform: translate(-50%); }

.two::before,
.four::before,
.six::before,
.eight::before,
.ten::before {
  content: '';
  position: absolute;
  top: 80%;
  Border-radius: 50%;
  Width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  right: calc(100% + 50px);
  transform: translate(50%); }

.two::after,
.four::after,
.six::after,
.eight::after,
.ten::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-right: 25px solid #3D92BE;
  border-bottom: 12.5px solid transparent;
  top: 82%;
  right: 100%; }
